*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
    
    
    }
    
    
    
    body{
    background: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    }
    
    
    
    .container{
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 2000px;
    margin: 50px;
    background: #f3ff;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgba(0, 0, 0, 0.1);
    }
    .container .left_side{
    position: relative;
    background: #003147;
    padding: 40px;
    
    
    
    }
    
    
    
    .profiletext{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    }
    
    
    
    .profiletext .imgBx{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    }
    
    
    
    
    .container .right_side .about{
    position: absolute;
    }
    .profiletext .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    }
    
    
    
    .profiletext h2{
    color: #f3ff;
    font-size: 1.5em;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 1.4em;
    }
    .profiletext h2 span{
    font-size: 0.8em;
    font-weight: 300;
    }
    
    
    
    .contactInfo{
    padding-top: 40px;
    }
    
    
    
    .title{
    color: #f3ff;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
    
    
    
    }
    
    
    
    .contactInfo ul{
    position: relative;
    }
    
    
    
    .contactInfo ul li{
    position: relative;
    list-style: none;
    margin: 10px 0;
    cursor: pointer;
    }
    
    
    
    .contactInfo ul li .icon{
    display: inline-block;
    width: 30px;
    font-size: 18px;
    color: #12a9f5;
    }
    
    
    
    .contactInfo ul li span{
    color: #f3ff;
    font-weight: 300;
    }
    
    
    
    .contactInfo.education li{
    margin-bottom: 15px;
    }
    
    
    
    .contactInfo.education h5{
    color: #03a9f4;
    font-weight: 500;
    }
    
    
    
    .contactInfo.education h4{
    color: #f3ff;
    font-weight: 500;
    }
    
    
    
    .felxbox-item{
    width: 200px;
    margin: 10px;
    border: 3px solid #333;
    background-color: #dfdfdf;
    }
    .felxbox-item-1{
    min-height: 100px;
    
    }
    .carcut{
        height: 100%;
        max-height: 400px;
        width: auto;
        margin-top: 10px;
        margin-left: 70px;
    }
    .tuna{
        width: 100%;
        max-width: 400px;
        height: auto;
        margin-top: 10px;
        margin-left: 70px;
    }
